body {
    background: #eee;
    width: 100%;
    padding: 50px;
    height: 1000px;
    max-width: 100px;
    margin: 0 auto;
}
.head {
    display:block;
    background:#fff;
    height:190px;
    width:240px;
    margin:100px 100px 100px 100px;
    border-radius:6%;
    border:40px solid white;
    transform:skew(1deg);
    -webkit-filter:saturate(100%);
    box-shadow: 1px 1px 0 2px #000;
}
.head::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: #fcdbe6;
    border-radius: 50%;
    border: 1px solid #000;
}
.abody {
    width: 320px;
    height: 320px;
    background: #26CEFF;
    border: 1px solid #000;
    border-radius: 2%;
    margin: -110px 0 0 101px;
}
.round {
    width:50px;
    height:50px;
    border-radius:25px;
    float:left;
    margin: 60px 40px 0 30px;
}
.seceye {
    width: 15px;
    height: 15px;
    background:#151515;
    border-radius:15px;
    margin-top:1px;
    margin-left:15px;
    -webkit-filter:blur(0);
}
.rot {
    width: 80px;
    height: 25px;
    background: #000000;
    margin-top: 90px;
    margin-left: 70px;
    border-top: 1px solid #000000;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.mouth {
    width: 78px;
    height: 21px;
    background: #FCDBE6;
    margin-top: -3px;
    margin-left: 1px;
    border-top: 1px solid #FCDBE6;
    border-radius: 50%;
    position: absolute;
    top: 0;
    z-index: 22;
}
.ear1 {
    width: 50px;
    height: 70px;
    background: #ffffff;
    float: left;
    margin: -77px -1px 10px -1px;
    position: absolute;
    border-radius: 36px 36px 45px 0;
    left: -40px;
    border: 1px solid #000;
    z-index: 1;
    border-bottom:1px solid #fff;
}
.ear2 {
    width: 50px;
    height: 70px;
    background: #ffffff;
    float: left;
    margin: -77px -1px 10px 10px;
    border-radius: 36px 36px 0 45px;
    right: -40px;
    position: absolute;
    border: 1px solid #000;
    z-index: 1;
    border-bottom:1px solid #fff;
}
h1, p {
    font-family:sans-serif;
    text-align:center;
    color:#fff;
    text-shadow:1px 1px 1px 1px #000;
}
.arm1 {
    width: 130px;
    height: 25px;
    background-color: #fff;
    margin: -122px 0 0 15px;
    box-shadow: 3px 0 8px 0 #484848, inset 3px 0 8px 0 #673AB7;
}