body {
    background:#eee;
    width:100%;
    padding:50px;
    height:1000px;
    max-width:100px;
    margin:0 auto;
    perspective:100px;
    perspective-origin:200px;
}
.finn {
    transform:rotate3d(0, -3, 1, -4deg);
}
.head {
    display:block;
    background:#fff;
    height:190px;
    width:240px;
    margin:100px 100px 100px 100px;
    border-radius:6%;
    border:40px solid white;
    transform:skew(1deg);
    -webkit-filter:saturate(100%);
    box-shadow:-20px 0 50px 1px #dcdcdc;
}
.head::before {
    content:"";
    position:absolute;
    width:100%;
    height:90%;
    background-color:#fcdbe6;
    border-radius:50%;
    border:1px solid #a2a2a2;
    box-shadow:inset 1px 6px 17px -3px #757575;
}
.seceye {
    width:15px;
    height:15px;
    background:#151515;
    border-radius:15px;
    margin-top:1px;
    margin-left:15px;
    -webkit-filter:blur(0);
}
.rot {
    width:80px;
    height:25px;
    background:#000000;
    margin-top:90px;
    margin-left:70px;
    border-top:1px solid #000000;
    border-radius:50%;
    position:relative;
    z-index:1;
}
.mouth {
    width:78px;
    height:21px;
    background:#FCDBE6;
    margin-top:-3px;
    margin-left:1px;
    border-top:1px solid #FCDBE6;
    border-radius:50%;
    position:absolute;
    top:0;
    z-index:22;
}
.ear1 {
    width:50px;
    height:70px;
    background:#ffffff;
    float:left;
    margin:-77px -1px 10px -1px;
    position:absolute;
    border-radius:36px 36px 45px 0;
    left:-40px;
    border:1px solid #dedede;
    z-index:1;
    border-bottom:1px solid #fff;
    box-shadow:4px -2px 7px -4px #9c9c9c;
}
.ear2 {
    width:50px;
    height:70px;
    background:#ffffff;
    float:left;
    margin:-77px -1px 10px 10px;
    border-radius:36px 36px 0 45px;
    right:-40px;
    position:absolute;
    border:1px solid #dedede;
    z-index:1;
    border-bottom:1px solid #fff;
    box-shadow:-6px -2px 7px -4px #9c9c9c;
}
.round {
    width:50px;
    height:50px;
    border-radius:25px;
    float:left;
    margin:60px 40px 0 30px;
}
.abody {
    width:320px;
    height:320px;
    background:#26CEFF;
    border:1px solid #008cb5;
    border-radius:2%;
    margin:-110px 0 0 101px;
    position:relative;
    box-shadow:-20px 0 50px 1px #dcdcdc;
}
h1, p {
    font-family:sans-serif;
    text-align:center;
    color:#fff;
    text-shadow:1px 1px 1px 1px #000;
}
.arm1 {
    width:330px;
    border-width:40px;
    border:40px solid #000000;
    border-color:transparent transparent #fcdbe6 #26ceff;
    height:150px;
    border-radius:0 90px 64px 150px;
    background-color:#fcdbe600;
    margin:72px 0 0 15px;
    position:absolute;
    top:0;
    left:0;
    box-shadow:-2px 2px 3px -2px #000;
}
.arm2 {
    width:330px;
    border-width:40px;
    border:40px solid #000000;
    border-color:transparent #26ceff #fcdbe6 #00000000;
    height:150px;
    border-radius:150px 40px 150px 65px;
    background-color:#fcdbe600;
    margin:60px 0 0 15px;
    position:absolute;
    top:0;
    right:0;
    z-index:3;
    /*transform:rotate3d(2, 0, 1, -15deg);*/
    box-shadow:2px 2px 0 -1px #000;
}